body  {
    Background-color: #563f46;
    color: #c8c3cc;
    font-family: Courier New, monospace;
    margin: 10% 10%  

}

.exp-header {
  font-size: 20px;
  text-transform: uppercase;
  border-top: 2px solid #8ca3a3;
  border-bottom: 2px solid #8ca3a3;
  text-align: center;
    
}

.about-border {
  border: 2px solid #8ca3a3;
  text-align: center;
  
}

aside {
  width: 30%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
  font-style: italic;
  text-align: center;
}

h1 {
  font-size: 60px;
  text-align: center;
  text-transform: uppercase;
  }

h2{
  font-size: 25px;
  text-align: center;
  }
